h1,.card-header {
    font-family: 'Playfair Display', serif;
}

h1{
    color: ghostwhite;
    text-align: center;
}

.card-body {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-outline-primary:hover>a {
color: ghostwhite;
}