/* Google Fonts*/

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

#nyt-logo {
    margin-right: 5%;
}

#app-title {
    font-family: 'Playfair Display', serif; 
}

.navbar-brand:hover {
    color: blue !important;
}

.btn.btn-outline-light:hover {
    background: blue;
}


