/* Google Fonts*/

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

#app-title {
    font-family: 'Playfair Display', serif; 
}

a{
    color: ghostwhite;
}
