

/*============= React Logo ====================*/

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 75px;
    width: 75px;
  }

  span{
    color: black;
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*==========================================*/